<div class="text-center" *ngIf="state">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <!-- <img class="mb-4" src="" alt="" width="72" height="57" /> -->
      <h1 class="h3 mb-3 fw-normal">Reset Password</h1>

      <div class="form-floating">
        <input type="email" class="form-control user-select-none" id="floatingInput" [value]="email"
          placeholder="name@example.com" disabled />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" formControlName="password"
          placeholder="Password"
          [ngClass]="{'is-invalid': submitted && component.password?.errors || submitted && form.hasError('notSame')}" />
        <label for="floatingPassword">New password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingRePassword" formControlName="passwordConfirm"
          placeholder="Password"
          [ngClass]="{'is-invalid': submitted && component.passwordConfirm?.errors || submitted && form.hasError('notSame')}" />
        <label for="floatingRePassword">Confirm password</label>
      </div>
      <small class="text-danger" *ngIf="submitted && form.hasError('notSame')">Passwords are not the same.</small>

      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign up
      </button>
      <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p> -->
    </form>
  </main>
</div>
<div class="text-center justify-content-center align-items-center">
  <div class="card text-center mb-3 shadow-lg" style="width: 18rem;height: 18rem !important;">
    <i class="fa-solid fa-triangle-exclamation card-img-top text-danger" style="font-size: 50px;"></i>
    <div class="card-body">
      <h5 class="card-title">Link Expired</h5>
      <p class="card-text">This link is expired please return to homepage.</p>
      <a routerLink="" class="btn btn-primary">Return to homepage</a>
    </div>
  </div>
</div>