.card {
  padding: 0;
  margin-bottom: 3px;
  margin-top: 6px;
}

.card img {
  height: 250px;
  object-fit: contain;
}

#product-list {
  // ı want to make this reach the bottom of the page
  min-height: 70vh;
}

@media (max-width: 767px) {
  .row {
    justify-content: center !important;
  }
}