<div class="card mt-0">
  <div class="card-content table-responsive table-full-width">
    <table mat-table [dataSource]="dataSource" class="table">
      <ng-container matColumnDef="name">
        <th class="text-danger" mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="stock">
        <th class="text-danger" mat-header-cell *matHeaderCellDef>Stock</th>
        <td mat-cell *matCellDef="let element">{{ element.stock }}</td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th class="text-danger" mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.price }}</td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th class="text-danger" mat-header-cell *matHeaderCellDef>Created Date</th>
        <td mat-cell *matCellDef="let element">{{ element.createdDate | date}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th class="text-danger" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element"><i class="material-icons">edit</i></td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th class="text-danger" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element" appDelete [id]="element.id" controller="products" (callback)="getProducts()">
          <!-- <i class="material-icons text-danger" (click)="delete(element.id,$event)">delete</i> -->
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="updatedDate">
        <th class="text-danger" mat-header-cell *matHeaderCellDef>Updated Date</th>
        <td mat-cell *matCellDef="let element">{{ element.updatedDate }}</td>
      </ng-container> -->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <!-- <thead class="text-danger">
        <th class="text-danger">Name</th>
        <th class="text-danger">Country</th>
        <th class="text-danger">City</th>
        <th class="text-danger">Salary</th>
      </thead>
      <tbody>
        <tr>
          <td>Dakota Rice</td>
          <td>Niger</td>
          <td>Oud-Turnhout</td>
          <td class="text-danger">$36,738</td>
        </tr>
        <tr>
          <td>Minerva Hooper</td>
          <td>Curaçao</td>
          <td>Sinaai-Waas</td>
          <td class="text-danger">$23,789</td>
        </tr>
        <tr>
          <td>Sage Rodriguez</td>
          <td>Netherlands</td>
          <td>Baileux</td>
          <td class="text-danger">$56,142</td>
        </tr>
        <tr>
          <td>Philip Chaney</td>
          <td>Korea, South</td>
          <td>Overland Park</td>
          <td class="text-danger">$38,735</td>
        </tr>
        <tr>
          <td>Doris Greene</td>
          <td>Malawi</td>
          <td>Feldkirchen in Kärnten</td>
          <td class="text-danger">$63,542</td>
        </tr>
        <tr>
          <td>Mason Porter</td>
          <td>Chile</td>
          <td>Gloucester</td>
          <td class="text-danger">$78,615</td>
        </tr>
      </tbody> -->
    </table>
    <mat-paginator
      (page)="pageChanged()"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
