<div class="text-center">
  <main class="form-signin w-100 m-auto">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <!-- <img
        class="mb-4"
        src="/docs/5.3/assets/brand/bootstrap-logo.svg"
        alt=""
        width="72"
        height="57"
      /> -->
      <h1 class="h3 mb-3 fw-normal">Log In</h1>
     
      <!-- <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="userName"
          formControlName="userName"
          placeholder="First and last name"
          [ngClass]="{'is-invalid': submitted && component.userName?.errors}"
        />
        <label for="userName">User name</label>
      </div> -->
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          formControlName="userNameOrEmail"
          placeholder="name@example.com"
          [ngClass]="{'is-invalid': submitted && component.userNameOrEmail?.errors}"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          formControlName="password"
          placeholder="Password"
          [ngClass]="{'is-invalid': submitted && component.password?.errors || submitted && form.hasError('notSame')}"
        />
        <label for="floatingPassword">Password</label>
      </div>
       <div class="mb-1">
        <a class="link-primary" data-bs-toggle="modal" data-bs-target="#passwordResetModal">Forgot Password</a>
      </div>
      <div class="d-flex justify-content-center mb-2 align-items-center">
        <asl-google-signin-button></asl-google-signin-button>
        <div class="ms-1 facebook" (click)="facebookLogin()"> <img src="assets\svg\facebook.svg" style="padding: 6px;" width="30px" height="30px"/></div>
      </div>
     
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Log In
      </button>
      <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p> -->
    </form>
  </main>
</div>

<app-password-reset></app-password-reset>