<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body row">
                    <div class="col-4">
                    <app-create></app-create>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
